// Hello, 
// I made this little experiment just for fun. 
// I'm looking for a Web Developer position in London. If you are interested please contact me [moreno at themesholic.com]

header
  h1 CSS3 Explode Menu
  h3 By 
    a(href="http://codepen.io/MorenoDiDomenico/", target="_blank") Moreno Di Domenico


#stage
    
  #circle-menu
    a(class="menu-trigger", href="#", data-open="OPEN", data-close="CLOSE")
    ul
      li
        a(href="#") 
          i(class="wi wi-cloudy-gusts")
      li
        a(href="#") 
          i(class="wi wi-rain-mix")
      li
        a(href="#") 
          i(class="wi wi-day-sleet")
      li
        a(href="#") 
          i(class="wi wi-thunderstorm")
