body {
    margin: 0;
    padding: 0;
    font: "helvetica", arial;
}
#header {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}
#mainHead {
    margin: 0px 40px 0px 40px;
    text-align: center;
}
#menu {
    max-width: 1024px;
    margin: 0px auto;
    position: relative;
    top: 40px;
}
#m_btn {
    display: none;
    position: relative;
    top: 40px;
}
#mainImage {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: -1;
}
#chatIcon {
    margin-top: 15%;
}
#chatIcon > i {
    opacity: 0.6;
}
#chatIconMobile {
    margin-top: 15%;
    /*opacity: 0.6;*/
    
    display: none;
    font-size: 1.2em;
}
#content {
    padding: 20px;
}
#content p {
    color: #666;
    line-height: 180%;
}
#content img {
    margin: 0 auto;
}
#content .column {
    text-align: center;
}
#about {
    padding: 20px;
}
#about .ui.breadcrumb {
    display: block;
}
#about p {
    line-height: 180%;
    color: #666;
}
#center {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#portfolio .active.step {
    /*Esta linha de CSS é importante para evitar que eu clique numa coisa que ja esta activa*/   
    pointer-events: none;
}
#footer {
    width: 100%;
    background-color: #eee;
    border-top: 5px solid #ddd;
    clear: both;
    float: left;
    overflow: hidden;
    padding: 0px 20px;
    box-sizing: border-box;
}
#footer .footer-margin {
    margin-top: 1px;
    margin-bottom: 1px;
}
@media all and (max-width: 745px) {
    #chatIcon {
        font-size: 1.2em;
    }
}
@media all and (max-width: 630px) {
    #menu {
        display: none;
    }
    #m_btn {
        display: inline-block;
    }
    #chatIconMobile {
        display: inline-block;
    }
    #chatIcon {
        display: none;
    }
}
