/**********************
 * SIZES
 **********************/
@scale: 1.414;										// proportion scale 
@column_padding: 0.8em * @scale;					// colum padding
@table_width: 12*300px;
@header_padding: 0.4em * @scale;					// header padding


/**********************
 * FONTS
 **********************/


/**********************
 * COLORS
 **********************/
@header_color: #6B6B6B; 										
@row_color: #fff;												
@row_open_background: lighten(@header_color, 50%);
@header_font_color: darken(contrast(@header_color), 20%);				
