body {
    overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Francois One', sans-serif;
}
h1 {
    font-size: 3.5em;
    margin-top: 1em;
    margin-left: 0.7em;
    margin-bottom: 0.5em;
}
.mainheader {
    background-color: #ddd;
}
.mainheader .form {
    display: none;
}
.mainheader .form .col {
    margin-left: 2%;
    margin-right: 2%;
    width: 46%;
    float: left;
}
.mainheader .buttons.dropshadow {
    -webkit-box-shadow: -1px 4px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 17px 0px rgba(0, 0, 0, 0.75);
}
.buttons {
    padding: 20px;
    background-color: #fff;
}
.buttons button {
    margin-right: 20px;
    color: #666;
    font-weight: bold;
    font-size: 150%;
    text-transform: uppercase;
    background-color: #fff;
    border: 2px solid #666;
}
.buttons button:active {
    -moz-transform: translate(1px, 1px);
    -ms-transform: translate(1px, 1px);
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
}
.buttons button:hover {
    color: #000;
    border-color: #000
}
.buttons button.save {
    color: #0051ad;
    border-color: #0051ad;
}
.buttons button.save:hover {
    color: #000;
    border-color: #000;
}
.buttons .prettify {
    margin-right: 0px;
    float: right;
}
.buttons i {
    margin-left: 10px;
}
.buttons .settings {
    margin-left: 20px;
    float: right;
}
.buttons .settings i {
    margin-left: 0px;
}
.grid {
    width: 100%;
    height: 400px;
    overflow: auto;
}
.grid .dgrid-header {
    overflow: visible;
}
.grid .dgrid-column-set-cell {
    /*width: 50%;*/
}
.grid .dgrid-cell {
    /*text-overflow: ellipsis;*/
    /*width: 80px;*/
    /*padding-top: 5px;*/
    
    white-space: nowrap;
}
.dgrid-column-set-0 {
    width: 40px;
    /*   overflow-x: scroll;
    overflow-y: hidden;*/
}
.dgrid-column-set-1 {
    width: 200px;
}
.grid .field-project {
    width: 850px;
}
.grid .field-line_type {
    width: 20px;
}
.grid .dgrid-column-1-0-0 {
    padding: 0;
}
.grid .dgrid-row.line-with-error tr {
    background-color: #FFAEAE;
}
.grid .dgrid-column-set-0 .header th {
    color: #000;
    text-transform: uppercase;
}
.grid .dgrid-column-set-1 .header th {
    color: #000;
    text-transform: uppercase;
}
.grid .dgrid-column-set-0 .sub-header th {
    color: #989898;
    font-style: italic;
}
.grid .dgrid-column-set-1 .sub-header th {
    color: #989898;
    font-style: italic;
}
.grid tr.activity-row {
    color: #989898;
    font-style: italic;
}
.cheat-msg {
    display: inline-block;
    font-weight: bold;
    color: #D80000;
    width: 220px;
}
#grid2 {
    display: none;
}
.grid2 {
    width: 100%;
    height: 400px;
    overflow: auto;
}
.grid2 .dgrid-header {
    overflow: visible;
}
.grid2 .dgrid-cell {
    white-space: nowrap;
}
.grid2 .field-project {
    width: 850px;
}
.grid2 .field-line_type {
    width: 20px;
}
.grid2 .dgrid-column-1-0-0 {
    padding: 0;
}
.grid2 .dgrid-row.line-with-info tr {
    background-color: #CCAEFF;
}
.grid2 .dgrid-row.line-with-info2 tr {
    background-color: #AEFFC1;
}
.grid2 .dgrid-column-set-0 .header th {
    color: #000;
    text-transform: uppercase;
}
.grid2 .dgrid-column-set-1 .header th {
    color: #000;
    text-transform: uppercase;
}
.grid2 .dgrid-column-set-0 .sub-header th {
    color: #989898;
    font-style: italic;
}
.grid2 .dgrid-column-set-1 .sub-header th {
    color: #989898;
    font-style: italic;
}
.grid2 tr.activity-row {
    color: #989898;
    font-style: italic;
}
#grid3 {
    display: none;
}
.grid3 {
    width: 100%;
    height: 400px;
    overflow: auto;
}
.grid3 .dgrid-header {
    overflow: visible;
}
.grid3 .dgrid-cell {
    white-space: nowrap;
}
.grid3 .field-project {
    width: 850px;
}
.grid3 .field-line_type {
    width: 20px;
}
.grid3 .dgrid-column-1-0-0 {
    padding: 0;
}
.grid3 .dgrid-row.line-with-error tr {
    background-color: #FFAEAE;
}
.grid3 .dgrid-column-set-0 .header th {
    color: #000;
    text-transform: uppercase;
}
.grid3 .dgrid-column-set-1 .header th {
    color: #000;
    text-transform: uppercase;
}
.grid3 .dgrid-column-set-0 .sub-header th {
    color: #989898;
    font-style: italic;
}
.grid3 .dgrid-column-set-1 .sub-header th {
    color: #989898;
    font-style: italic;
}
.grid3 tr.activity-row {
    color: #989898;
    font-style: italic;
}
